@import './../vars.scss';

.game{
    background-color: white;

    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid lightgray;
    
        h1{
            font-size: 2.5rem;
            color: $c_secondary;
            margin-bottom: 0;
        }
    
        button{
            font-weight: 600;
        }
    }
}

.board{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    position: relative;
}